.table {
  width: 100vw;
}

.table__head {
  background-color: black;
  color: white;
  height: 2.2rem;
  text-align: center;
  text-transform: uppercase;
}

.table__cell {
  background-color: slateblue;
  height: 1.8rem;
  padding: 0 1rem;
}

.table__row:hover .table__cell {
  background-color: lavender;
}
